:root
{
    --primary-color:#0b1725;
    --second-color: #14546df7; 
    --primarylight-color: rgb(216, 231, 231);
    --primary-font:'Nanum Gothic', sans-serif;
    --second-font: 'Signika Negative', sans-serif;
}
body
{
    margin:0;
	padding: 0;
	z-index: 100;
	background-color: rgba(234,234,227,0.8);
	font-family: 'Roboto', sans-serif;

}

/*----------------------Polices styles----------------------------------*/


h2,h3, h4 {   
    
	text-align: center;
}
h2,h3{
    text-transform: uppercase;
	color: var(--second-color); 
}
h2{
    font-weight: bolder;
    font-size: 2.5em;
}

h3{
	font-size: 4.27em;	
    color: var(--second-color);
}

h4
{
	font-weight: lighter;
	color: #c16a34;
	margin: 10px 0px;
}
p{
    letter-spacing: 2px;
    line-height: 1.3;
    margin: 0px;
    font-size: 20px;	
	text-align: center;	
	font-weight: 200;
}
/*---------------------Flex-------------------------------*/
.flex{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.flexCol{
	display: flex;
	flex-direction: column;
	align-items:  center;
}

.flexBtwn
{
	display: flex;	
	justify-content: space-between;
	align-items: center;
}

/*-----------------------Containers styles----------------------------*/
section{
	min-height:100vh;		
	width: 100%;	
}

.dark-container{
	background-color: var(--primary-color);
}
.dark-container p{
    color: white;
}

audio::-webkit-media-controls-panel{
    background-color: #9bb6be;
   
}

