*{
	margin:0;
	padding: 0;
}
:root
{
    --primary-color:#050327;
    --second-color: #3D3A78; 
	--third-color:#AD6300;
	--fourth-color:  rgb(32, 130, 143);
    --primarylight-color: rgb(216, 231, 231);
    --primary-font:'Nanum Gothic', sans-serif;
    --second-font: 'Signika Negative', sans-serif;
}
body
{
    margin:0;
	padding: 0;
	z-index: 100;
	font-family: 'Roboto', sans-serif;
}
img{
	object-fit: cover;
}

/*----------------------Polices styles----------------------------------*/


h2,h3, h4 {   
    
	text-align: center;
}
h2,h3{
    text-transform: uppercase;
	color: var(--fourth-color); 
}
h2{
    font-weight: bolder;
    font-size: 2.5rem;
	margin: 4rem 0;
}

h3{
	font-size: 2.5rem;	
    color: var(--fourth-color);
	font-weight: 300;
	margin-bottom: 3rem;

}

h4
{
	font-weight: lighter;
	color: var(--third-color);
	margin: 10px 0px;
}
p{
    letter-spacing: 1px;
    line-height: 2.1;
    margin: 0px;
    font-size: 1.2rem;	
	text-align: center;	
	
	
}
/*---------------------Flex-------------------------------*/
.flex{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.flexCol{
	display: flex;
	flex-direction: column;
	align-items:  center;
}

.flexBtwn
{
	display: flex;	
	justify-content: space-between;
	align-items: center;
}

/*-----------------------Containers styles----------------------------*/
section{
	min-height:100vh;		
	width: 100%;	
}

.dark-container{
	background: linear-gradient(  rgb(1, 11, 19), var(--primary-color) 60%, rgb(0, 7, 12));
}
.dark-container p{
    color: white;
}

audio::-webkit-media-controls-panel{
    background-color: #9bb6be;
	
   
}

