

@font-face {
    font-family: 'dubielplainregular';
    src: url('polices/Dubiel-webfont.eot');
    src: url('polices/Dubiel-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Dubiel-webfont.woff') format('woff'),
         url('polices/Dubiel-webfont.ttf') format('truetype'),
         url('polices/Dubiel-webfont.svg#dubielplainregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'capsuularegular';
    src: url('polices/Capsuula-webfont.eot');
    src: url('polices/Capsuula-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Capsuula-webfont.woff') format('woff'),
         url('polices/Capsuula-webfont.ttf') format('truetype'),
         url('polices/Capsuula-webfont.svg#capsuularegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'edoregular';
    src: url('polices/edo-webfont.eot');
    src: url('polices/edo-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/edo-webfont.woff') format('woff'),
         url('polices/edo-webfont.ttf') format('truetype'),
         url('polices/edo-webfont.svg#edoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sinkin_sans100_thin';
    src: url('polices/SinkinSans-100Thin-webfont.eot');
    src: url('polices/SinkinSans-100Thin-webfont.eot?#iefix') format('embedded-opentype'),
                url('polices/SinkinSans-100Thin-webfont.woff') format('woff'),
         url('polices/SinkinSans-100Thin-webfont.ttf') format('truetype'),
         url('polices/SinkinSans-100Thin-webfont.svg#sinkin_sans100_thin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('polices/SinkinSans-400Regular-webfont.eot');
    src: url('polices/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('polices/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('polices/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oranienbaumregular';
    src: url('polices/Oranienbaum-Regular-webfont.eot');
    src: url('polices/Oranienbaum-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Oranienbaum-Regular-webfont.woff') format('woff'),
         url('polices/Oranienbaum-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('polices/polices/OpenSans-CondLight-webfont.eot');
    src: url('polices/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),        
         url('polices/OpenSans-CondLight-webfont.woff') format('woff'),
         url('polices/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('polices/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*---------------------------------------Header---------------------------------------*/

header
{
	width: 100%;
	background: linear-gradient(  rgb(2, 21, 36), var(--primary-color) 95%);
	height: auto;	
	position: fixed;
	z-index: 1;
	background-color:rgb(8, 16, 22);

}

/*navigation/Menu*/
nav{
	min-height: 70px;
	width: 100%;
    display: flex;
	justify-content: space-between;
    align-items: center;

}
.nav-menu{
    display: flex;
	margin-right: 20px;
    align-items: center;
    gap: 60px;
	padding-right: 2rem;

}
#logo{
	height: 4em;
	margin-left: 1rem;
}
ul
{
	font-size: 1.1em;
	list-style-type: none;
	font-weight: lighter;
}

.nav-item a:hover
{
	border-bottom: 1px solid var(--fourth-color);
}

.nav-link{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 1rem;
	padding: 0.5rem;
	
}

.hamburguer{
    display: none;
    cursor: pointer;

}

.bar{
    display: block;
    width: 36px;
    height: 3px;
    margin: 9px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primarylight-color);
}

/***************************************FIN HEADER************************************************/

/*corps de la page*/



/*------ Presentation ------*/

#presentation{
	color: white;	
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
	align-items: center;
	background: linear-gradient( var(--primary-color) 60%, rgb(0, 7, 12));

}
.name{	
	text-align: end;
	font-size: 2rem;
	margin-bottom: 2rem;
	color: rgb(216, 197, 228);
	-webkit-box-reflect: below -30px linear-gradient(transparent, rgba(53, 20, 14, 0.1));	 
	font-weight: 200;
	transform: scale(0.9);
	animation: scaled 4s forwards cubic-bezier(0.7, 1, 0.89, 1)	
}
@keyframes scaled {
	100% {
	  transform: scale(1);
	}
}
#titleWeb{	
	font-size: 4.2rem;
	text-align: end;
	text-transform: uppercase;
	letter-spacing: -2px;
	font-family: sans-serif;
	margin:1rem 0;
	background-size: 180% auto;
	background-clip: text;	
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 5s linear ;
	background-image: linear-gradient(
    -225deg,
	#3e214e 0%,
    var(--second-color) 15%,
    var(--fourth-color) 25%,  
    #214d4e 60%,
	#29306d 70%,
	#400c49 80%
	
  );     
}
@keyframes textclip {
	to {
	  background-position: 200% center;
	}
}

#palaiseau{
	font-size:1.4rem;
	text-align: start;
	transform: scale(0.9);
	animation: scaled 4s forwards cubic-bezier(0.7, 1, 0.89, 1);	
	font-weight: lighter;
	color: rgb(142, 174, 175);
}


#face2{	
	opacity: 0.6;
	width: 80%;
}
.lineLeft {
	animation: 6s anim-lineLeft ease-in ;

}
	@keyframes anim-lineLeft {
	0% {
		opacity: 0;
		
	}		
	100% {
		opacity: 0.5;
		
	}
}
	
/*----------------------About me------------------------*/
/* lineRight class and keyframes */
.faceContainer{
	margin: 0;
	display: flex;
	align-items: flex-end;
	align-self: flex-end;
}
#face{
	width: 400px;
	margin: 0;
}
  .lineRight {
	animation: 2s anim-lineRight ease-in ;
  }
  @keyframes anim-lineRight {
	0% {
	  opacity: 0;
	  transform: translateX(-50%);
	}	
	100% {
	  opacity: 0.6;
	  transform: translateX(0%);
	}
  }
#face:hover{
	scale: 1.02;
}
#aboutMe{
	display: flex;	
	align-items: center;
	min-height: 100vh;			
	color:var(--primary-color);
	height: 60vh;	
}

.descriptionAbout{
	width: 70%;
	margin-right: 40px;
	
}
.cvLink{
	background-color: var(--primary-color);
	padding: 0.5rem;
	border-radius: 10px;
	color: var(--fourth-color);
	box-shadow: 4px 5px 7px black;
	transition-duration: 1s;

	display: inline-block;
	margin: 4rem auto;
}
.flag > img, .logo{
	border-radius: 6px;
}
.cvLink p {
	margin-bottom: 1rem;
}
.cvLink:hover{
	scale: 1.05;	
}
.cvLink p:hover{
	color: white;
}
.flagsContainer{
	display: flex;
	gap: 1rem;
}
.flag>img{
	width: 50px;
	opacity: 0.7;
}
.flag>img:hover{
	opacity: 0.6;
	scale: 1.03;
}
.icon{
	margin: 40px;
}
.logo:hover{
	opacity: 0.5;
}

/*---------------------Portafolio--------------------------*/


#portafolioContainer{	
	width: 95%;
	text-align: center;
	border-radius: 20px;
	padding: 3rem 0;
}

#innerPortafolio{
	flex-wrap: wrap;
	width: 80%;
    margin: 4rem auto;
	border-radius: 10px;
	gap:2.4rem;
	background-position: center;
	background-size: cover;
}

.itemPortafolio{
	position: relative;
	width: 315px;
	border-radius: 5px;
	height: 300px;
	overflow: hidden;
	opacity: 0.7;
	font-size: 10px;
	box-shadow: 1px 4px 8px black;
	background: linear-gradient(#3f1724, #0e0d1d) ;
	padding: 0.5rem;
	transition-duration: 1s;
}
.itemPortafolio:hover{
	scale: 1.05;
}
.img-portafolio{
	height: 220px;
	width: 95%;
	border-radius: 10px;
}
.portfolioTextFace h3{
	font-size: 1.3rem;
	font-family: 'Times New Roman', Times, serif;
	color: rgb(169, 137, 199);
	margin:1rem;
}
.portfolioTextFace p{
	font-size: 0.8rem;
}
.img-portafolio-container{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(51, 6, 41);
}
.img-portafolio-container img{
	height: 40px;
	border-radius: 10px;
}

.itemPortafolio>img{
	display: block;
	width: 100%;
	height: auto;	
	box-shadow: 4px 4px 4px black;
	height: 100%;

}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(   var(--primary-color), rgb(1, 4, 7)80%);
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: .5s ease-out;
	border: 1px solid rgb(1, 13, 34);
	
	
}
.portafolio-logo{
	height: 1rem;
	margin-top: 0.5rem;
} 
.itemPortafolio:hover .overlay{
	opacity: 1;
}

.descriptionPortafolio{
	justify-content: center;	
	height: 100%;	
}

.descriptionPortafolio>a{
	border:2px solid var(--second-color);
	padding: 10px 20px;
	border-radius: 20px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.descriptionPortafolio>p{
	color:  rgb(205, 221, 228);
	font-size: 1rem;
	padding: 10px;
}

.descriptionPortafolio>a:hover{
	background-color: var(--second-color);
	color: white;

}

#logosDev{
	background-image: linear-gradient(rgba(219, 204, 184, 0.7), rgb(163, 149, 118, 0.7) );
	height: 170px;
	margin: 10px 0px;
}


#logosDev > img{
	height: 45px;
	opacity: 0.7;
}

#logosDev > img:hover{
	height: 60px;
	width: 60px;
}

/*----------------Odin Projects------------------*/
.odinProjects{
	padding-top: 100px;
	background-color: rgb(2, 2, 3);
	min-height: 80vh;
	text-align: center;
	color: rgb(159, 152, 161);
}
.odinProjects h1{
	
	
	text-transform: uppercase;
}
.odin-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 3rem 0;
}
.odin-container a{
	text-decoration: none;
}
.odin-container a:hover{
	color: white;
}
.odin-container .itemPortafolio{
	object-fit: contain;
	height: 200px;
}
.odin-container h2{
	font-size: 1rem;
	margin: 2rem;
}

/*-----------------------Competences--------------------*/

#competences{
	/* background-image: url('../images/computer.jpg');	 */
    background-attachment: fixed;
	padding: 2rem 0;	
	background-size: cover;	
}
.competences-container{
	display: flex;
	gap: 3rem;
	margin-top: 6rem;
	flex-wrap: wrap;
	justify-content: center;
}

.innerCompetence{
	background:linear-gradient(rgb(21, 3, 49), black);
	width: 20%;	
	border-radius: 20px;
	text-align: center;
	padding: 2rem;
	color: white;

}
.innerCompetence h3{
	margin: 2rem ;
	font-size: 1.5rem;
}
.innerCompetence p{
	line-height: 2;
	font-size: 1.2rem;
}
.logoWeb{
	opacity: 0.5;
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-top: 0.5rem;
	
}
.logoWeb>img{
	height: 1.2rem;	
	transition-duration: 1s;
}
.logoWeb>img:hover{
	scale: 1.7;
	cursor: pointer;
} 
#cv{
	width: 100px;
	margin-top: 4rem;
}

/*-------------------Artistique-------*/

#artistique p{
	width: 80%;
}
#projets{
	margin-top: 40px;
}
.proj-prev img{
	height: 80%;
}
.explication
{	
	font-style: italic;
	font-size: 1.5em;	
}
.imgProj-container{
	width: 40%;
	display: flex;
	justify-content: center;
	height: 100%;
	position: relative;
	
}
video, .imgProj
{
	height: 50%;
	width: 60%;
	border-radius: 50px;
	box-shadow: 4px 5px 15px rgb(0, 0, 0);
	background-image: linear-gradient(black, rgb(16, 16, 51));
	padding: 3rem;	
}
.image_proj
{
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url("../images/cellos.JPG");
	color: white;
}
.image_proj h1{
	text-transform: uppercase;
	font-size: 50px;
	font-weight: lighter;
}

.proj-prev
{
	display: flex;
	flex-direction: row-reverse;
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}
.textProject{
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.textProject >h3{
	font-size: 2.1rem;
    margin: 0px;
    font-weight: 300;
}

.proj-prev--black--h3clair
{
	color: #ce811e;
	font-weight: 100;
}
.proj-prev--black--pclair
{
	color: #F9F8EF;
}
.audio-container{
	margin: 10px 10px 10px 0px;
	
}
.audios
{
	padding: 50px 150px;
	height: 100%;
	border-radius: 10px;
	margin-right: 10px;
}
.audios p{
	margin: 30px;
	font-weight: bolder;
}
.soundcloudImg{
	width: 40%;
	margin: 0 auto;
	display: block;
	border-radius: 10px;
	transition-duration: 0.5s;
}
.soundcloudImg:hover{
	scale: 1.1;
	opacity: 0.6;
	
}
/*-------------------------Ateliers-----------------------*/
#atelierContainer{
	width: 100%;
}
.innerAtelier 
{	
	padding: 10px;
	box-shadow: 3px 3px 3px black;
	background-color: rgba(0, 0, 0, 0.9);
	color: rgba(249, 248, 239, 0.9);
	margin: 10px;
	border-radius: 7px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.innerAtelier > img
{
	height: 200px;
	width: 450px;
	margin: 20px;
}
.ateliers{
	justify-content: center;
}	
/******************************************/

.galerie-container{
	padding-top: 100px;
	background-color: var(--primary-color);
}
.galerie{

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}
.slider{
	position: relative;
	width: 200px;
	height: 250px;
	transform-style: preserve-3d;
}

.slider span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: center;
	transform-style: preserve-3d;
	transform: rotateY(calc(var(--i)*45deg)) translateZ(450px);
}
.slider span img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
	transition: 2s;
	border: 4px solid rgb(66, 33, 98);
}

.creation
{	
	display: flex;
	flex-direction: column;	
	align-items: center;
	width: 350px;
	background-image:linear-gradient(rgb(6, 6, 24), rgb(7, 3, 24)) ;
	padding: 1rem;
	max-width: 95%;
	transition: 1s;
	
}
.creation iframe{	
	object-fit: contain;
	width: 100%;
}
.creation:hover{
	scale: 1.1;
}
.dessin
{
	background-color: black;
	width: 100%;
	height: auto;	
	padding: 20px;
	gap: 20px;
}
.creation > img{
	height: 300px;
	width: 350px;
	
	object-fit: contain;
	border-radius: 5px;
	
}
.legendImg
{
	color: white;
	font-style: italic;
	margin-top: 10px;
	font-size: 0.8em;
}

.webProjects
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.pageWebImg
{
	padding: 10px;
	box-shadow: 3px 3px 3px black;
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(249, 248, 239, 0.9);
	border-radius: 7px;
	display: flex;
	margin: 10PX;
	flex-direction: column;
	font-family: Georgia;
	font-size: 0.7em;
	line-height: 1.1;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
}


form
{
	background-color: rgba(244, 242, 223, 0.6);
	box-shadow: 3px 3px 3px black;
	width: 50%;
	margin: auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
#contact{
	justify-content: center;
	padding: 3rem;
	background: black;
}
#contact p{
	margin-bottom: 20px;
}
.lienTo
{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	background: linear-gradient(    #4D224B, var(--primary-color));
	color: white;
	font-weight: bold;
	border-radius: 10px;
	padding: 20px;
	font-size: 1rem;
    display: block;
    text-align: center;
    margin: 4rem auto;
}
.lienTo:hover
{
	opacity: 0.7;
}
footer
{	
	background-color: var(--primary-color);
	padding: 10px;	
	color: white;
}
footer>p{
	margin-top: 0.4rem;
	font-family: sans-serif;
	font-size: 0.3rem;
}
footer>div{
	display: flex;
	justify-content: center;
}
.logos-contact{
	display: flex;
	gap: 1rem;
	align-items: center;
	margin: 3rem 0;
}


@media screen and (max-width:  1200px)
{	
	h1
	{
		font-size: 2em;
	}	
	
	.innerAtelier >h4{
		font-size: 34px;
	}	
	.hamburguer{
        display: block;
		margin-right: 20px;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-12px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -110%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background-color: var(--second-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
		padding: 0;
    }

    .nav-item{
		width: 100%;
		padding: 20px 0px;
		margin: 0;
    }
	.nav-item>a{
		color: rgb(208, 205, 194);
	}
	.nav-item:hover{
		background-color: var(--primary-color);

	}
    .nav-menu.active{
    left: 0;
    }
	
	section{
		min-height: 80vh;
	}
	/*--------index-----------*/
	#titleWeb{
		font-size: 3rem;
	}

	.name{
		font-size: 40px;
	}
	
	#palaiseau{
		font-size: 35px;
	}

	

	#face{
		display: none;
	}
	.descriptionAbout{
		width: 80%;
		margin: 50px auto;
	}
	

	/*Portafolio*/
	
	/*---------------*/
	.proj-prev
	{
		padding: 30px 0px;
		display: flex;
		flex-direction: column-reverse;
		height: auto;
		width: 100%;
		gap: 30px;		
	}
	
	.audios, .innerAtelier{
		width: 85%;
		padding: 25px;
	}
	.innerAtelier>img{
		width: 80%;
		height: auto;
	}
	.creation{
		width: 80%;
		
	}
	iframe{
		width: 100%;
		
	}
	.creation>img{
		height: auto;
		width: 100%;

	}
	
	.image_proj > .lineLeft{
		animation: none;
	}
	iframe{
		margin: 0px auto;
	}
}
@media screen and (max-width:  900px){

	#titleWeb{
		font-size: 40px;
	}
	.itemPortafolio{
		width: 90%;
		height: auto;
	}
	 .innerCompetence{
		width: 70%;
		height: auto;
	}
	.lienTo{
		font-size: 10px;
	}
	.logoWeb>img {
		height: 20px;
		}
}
@media screen and (max-width:  950px){
	
	.name{
		font-size: 1.2rem;
	}
	#palaiseau{
		font-size: 1rem;
	}
	#intro{
		margin-left: 10px;
	}
}
@media screen and (max-width:  700px){
	.nav-menu {
		top: 45px;
	}
	h2{
		font-size: 1.6em;
	}
	h3{
		font-size: 2em;
	}
	#logo {
		height: 3.4em;
	
	}
	#logosDev{
		display: none;
	}
	
	
	.logo{
		width: 25px;
	}
	.logoWeb {
		margin: 10px 0px;
		gap: 1rem;
	}

	.bar {
		width: 32px;
	
	}

	.logo {
		padding: 0px 10px;
	}
	.descriptionAbout {
		margin: 10px auto;
	}
}
@media screen and (max-width:  500px){
.creation>img {
    height: 400px;
}
.dessin {
	padding: 0px;
}
#titleWeb{
	font-size: 1.3rem;
}
.name{
	font-size: 0.7rem;
}
#palaiseau{
	font-size: 0.6rem;
}
}